
.#{$ns}callout-banner {
	margin: 2rem 0;
	background-color: #DFDFDF;
	padding: 1.5rem;
	border-radius: $radius-sm;
	display: flex;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 500;

	@media screen and (max-width: $breakpoint-sm) {
		flex-direction: column;
		text-align: center;

		.#{$ns}callout-banner__text {
			margin-bottom: 1.2rem
		}

		.#{$ns}callout-banner__button {
			width: 100% !important;
		}
	}

	.#{$ns}callout-banner__text {
		margin: 0;
	}

	.#{$ns}callout-banner__button {
		margin: 0 0 0 1rem;
	}
}